[user]
	name = Tiago Engel
	email = tiagohngl@gmail.com

[alias]
	s = status -s
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	ca = !git add -A && git commit -av
	amend = commit --amend --reuse-message=HEAD
	branches = branch -a
	remotes = remote -v
	aliases = config --get-regexp alias

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Switch to a branch, creating it if necessary using light PR name style
	linear = "!f() { git checkout -b feature/lig-$1-\"$2\" 2> /dev/null || git checkout feature/lig-$1-\"$2\"; }; f"

	# Remove branches that have already been merged
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[init]
	defaultBranch = main

[core]
	excludesfile = ~/.gitignore
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true

[merge]
	conflictstyle = zdiff3

[diff]
	renames = copies

[push]
	default = simple
	followTags = true
	autoSetupRemote = true

[credential]
	helper = osxkeychain
